* {
    word-wrap: break-word;

}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: stretch;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #386dc2;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
    word-break: break-all;
}

h1 {
    font-size: 3em;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #4188fa;
    text-align: center;
}

label {
    display: inline-block;
    width: 100%;
}

input {
    height: 60px;
    width: 80%;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 12px;
}