main {
    width: 100%;
    min-height: 100%;
    background-color: #4188fa;
    position: absolute;
    left: 0;
    transform: none;

}

input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    text-align: center;
}

span.error {
    font-size: 16px;
    color: red;
}

.main-content-wrapper>* {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

article {
    padding: 10px 30px;
    vertical-align: middle;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.sign-up-btn {
    margin: 30px 0;
    font-size: 30px;
    width: 80%;
}

@media only screen and (min-width:600px) {
    main {
        width: 500px;
        min-height: 0;
        max-height: 100%;

        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 5px;
        background-color: #4188fa;
        transform: translate(-50%, -50%);

        box-shadow: 0 0 10px rgba(65, 136, 250, 1);
    }

    .main-content-wrapper {
        font-size: 1em;
    }
}