main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4188fa;
}

main form {
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    width: 100%;
}

.main-content-wrapper>* {
    text-align: center;
    font-size: 30px;
}

article {
    padding: 10px 30px;
    vertical-align: middle;
}

label {
    display: block;
    text-align: left;
}

@media only screen and (min-width:600px) {
    main {
        width: 500px;
        height: fit-content;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 5px;
        background-color: #4188fa;
        transform: translate(-50%, -50%);
        padding: 100px;
    }

    .main-content-wrapper {
        font-size: 1em;
    }
}