a,
a:active {
    color: #001b4b;
}

main {
    width: 100%;
    min-height: 100%;
    background-color: #4188fa;
    position: absolute;
    left: 0;
    transform: none;

}

input:not([type="submit"]) {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 12px;

}

span.error {
    font-size: 20px;
    color: red;
}

.main-content-wrapper {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #001b4b;
}

article {
    padding: 10px 30px;
    vertical-align: middle;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.btn {
    margin: 30px 0;
    font-size: 30px;
    width: 80%;
    background-color: #0043b6;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 10px;
}

.btn:hover {
    background-color: #001b4b;
}


@media only screen and (min-width:600px) {
    main {
        background-color: unset;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.main-content-wrapper {
        width: 500px;
        min-height: 10px;
        border-radius: 5px;
        background-color: #4188fa;
        box-shadow: 0 0 10px rgba(65, 136, 250, 1);
        padding: 30px;
        font-size: 30px;
    }

    span.error {
        font-size: 20px;
    }

    input:not([type="submit"]) {
        height: 40px;
    }
}